body {
    margin: 0;
    padding: 0;
}

section {
    max-width: 600px; 
    width: 100%;
    padding: 0 20px; 
    margin: 0 auto; 
}

#prueba1, #prueba2 {
    display: none; 
}

@media only screen and (max-width: 600px) {
    section {
        max-width: 100%; 
    }

    #prueba1, #prueba2 {
        display: block; 
    }
}

a {
    color: green; 
}

p {
    text-align: justify; 
}

.personajesimg{
    width: 80%;
    height: 300px;
    text-align: center;
}

.bloque img {
    margin-top: 35px;
    margin: 5px;
}

.cabecera {
     height: 600px;
    background-image: url('../IMG/header_background.jpeg');
}
